@model Models.Goods
@{
    
    Layout = "~/Views/Shared/_LayoutDaohang.cshtml";
   
}
<style>
   

    ul {
        list-style: none;
    }

    .center {
        width: 1005px;
        height: 600px;
        margin-left: 360px;
        margin-top: 77px;
    }

    .pic img {
        width: 300px;
        height: 300px;
    }

    .details {
        width: 300px;
        height: 300px;
        margin-left: 330px;
        margin-top: -300px;
    }

    #price{
        font-size:24px;
         color:red;
    }
    #goodsid{
        visibility:hidden;
    }
    #s{

    }
    #tt{
        border-radius:4px;
        height:68px;
        width:515px;
        display:block;
        border:1px solid #c03f3c;
        max-width:515px;
        
    }
    #pl{
        background-color:red;
        margin-top:10px;
    }
    #p2{
        margin-left:314px;
    }
    .jiagou{
        display:inline-block;
        background:red;
        width:82px;
        height:34px;
        border-radius:4px;
        text-align:center;
        padding:7px;
        color:white;
        margin-top:7px;

    }
    .jiagou:hover{
        color:white;
        text-decoration:none;
    }
    .s{
        display:inline;
    }
    .btn1{
        width:82px;
        height:34px;
        /*margin-bottom:13px;*/
        margin-right:50px;
        margin-top:8px;
        border-radius:5px;
        
    }
</style>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="center" id="center">
    <div class="pic">
        <img src="~/Images/GoodsImages/@Model.GoodsImage" />
        <div class="mask"></div>
    </div>
   

    <div class="details">
        @using (Html.BeginForm("Cart", "Mall", FormMethod.Post))
        {
            <h3>@Model.Name</h3>
            <div style="width:100%;height:40px;background-color:lavenderblush;">
                <span style="color:darkgoldenrod;font-size:18px;height:40px;line-height:40px;display:inline-block;">价格：</span>
                <span>￥@Model.Unitprice</span>
                @*<p>@Model.GoodsID</p>*@
                <input type="hidden" name="price" value="@Model.Unitprice" />
                <input type="hidden" name="goods" value="@Model.GoodsID" />
                @Html.Hidden("Price", Model.Unitprice);
                <input type="hidden" value="@Model.Unitprice" name="unitprice" />
                @*<input type="text" name="zongjia" value="@Model.Unitprice * @total" readonly="readonly" />*@
            </div>
            <h4 style="color:dimgray">江浙沪顺丰包邮</h4>
            <div style="height:40px;width:100%;margin-top:20px;">
                <span>数量：</span>
                @Html.Hidden("GoodsID", Model.GoodsID);
                <input type="number" min="1" max="@Model.Amount" value="1" style="width:80px;" name="number" id="s" />

                <div style="margin-top:10px;">
                    <span>库存：</span>
                    <span id="kucun">@Model.Amount</span>
                  </div>
                    <div style="margin-top:10px;">
                        <div style="margin-top:56px;">
                            <div align="left" style="float:left;padding-left:17px;">
                                <a href="@Url.Action("Cart","Mall",new {GoodsID=Model.GoodsID })" class="jiagou">加购物车</a>
                            </div>
                            <div align="right">
                                <button type="button" style="background-color:red; color:white;"  data-toggle="modal" data-target="#myModal1" class="btn1">直接购买</button>
                            </div>
                        </div>
                            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel1">
                                                请填写信息：
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                        <label for="Ord_Name">收件人：</label>
                        <input id="Name" name="Name" type="text" />
                        <br />
                        <label for="Ord_Add">地&nbsp;&nbsp;&nbsp;址：</label>
                        <input id="Address" name="Address" type="text" />
                        <br />
                        <label for="Ord_Tel">电&nbsp;&nbsp;&nbsp;话：</label>
                        <input id="Tel" name="Tel" type="text" />
                        
                        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    关闭
                                </button>
                                <button type="button" id="Sub" class="btn btn-primary">
                                    提交
                                </button>
                            </div>
                        </div>
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>

            
       }           
     </div>
</div>
<hr />
<div>
        @*<div style="margin-top:-200px;margin-left:314px;">
        <textarea name="pinglun" id="tt"></textarea>
        <button id="pl" type="button">发表评论</button>
        </div>*@
   

        <div id="p2">
            @*@{Html.RenderAction("Comment", "Mall",new{ goodsid=@Model.GoodsID });}*@
            @Html.Action("Comment", new { goodsid = @Model.GoodsID }))
        </div>
</div>











<input id="num" name="ScanNam" type="hidden" />


<script type="text/javascript" language="javascript">
    $(function (){
                    var uname = $("#Name");

                    var add = $("#Address");
                    var tel = $("#Tel")


        var price = $("input[name='unitprice']");
                    var num = $("input[name='number']");
                    var total =parseInt(price.val()) * parseInt(num.val());

                    var GoodsID = $("input[name='goods']");
        
        $("#Sub").on("click", function () {
            
            $.ajax({
                            type: 'post',
                //dataType: 'json',
                url: "/Mall/DirectBuy",
                data: {
                                "total": total,
                    "uname": uname.val(),
                    "tel": tel.val(),
                    "address":add.val(),
                    "goodsid": GoodsID.val(),
                    "num":num.val()


                },
                //traditional: true,
                success: function (data) {

                                alert(data.message);
                                location.href = "/Mall/Order";

                            },
                error: function () {
                                alert("购物失败");
                            }
                        });
                    });


        //var pinglun = $("#tt");
        //$("#pl").on("click", function () {
        //    $.ajax({

        //        type: 'post',
        //        url: "/Mall/Comment",
        //        data: {
        //            "goodsid":GoodsID.val(),
        //            "text":pinglun.val()
        //        },
               
                //success:function(data){
                    
                //    //$('#p2').html(data);
                //    $.ajax({
                //        type:"get",
                //        //async: false,
                //        url: "/Mall/Comment",
                //        data: {
                //            "goodsid": GoodsID.val(),
                //            "text": pinglun.val()
                //        },
                //        success:function(data){
                //            $("#p2").html(data);
                //        }
                //    })
                    
                //    }
               
        //    })
        //}

    )
    })

    


 
//每浏览一次网页或刷新一次，浏览量就自动加1 -->

    //   var caution = false
    //function setCookie(name, value, expires, path, domain, secure) {
    //    var curCookie = name + "=" + escape(value) +

    //    ((expires) ? "; expires=" + expires.toGMTString() : "") +

    //    ((path) ? "; path=" + path : "") +

    //    ((domain) ? "; domain=" + domain : "") +

    //    ((secure) ? "; secure" : "")

    //    if (!caution || (name + "=" + escape(value)).length <= 4000)

    //        document.cookie = curCookie

    //    else

    //        if (confirm("Cookie exceeds 4KB and will be cut!"))

    //            document.cookie = curCookie

    //}

    //function getCookie(name) {

    //    var prefix = name + "="

    //    var cookieStartIndex = document.cookie.indexOf(prefix)

    //    if (cookieStartIndex == -1)

    //        return null

    //    var cookieEndIndex = document.cookie.indexOf(";", cookieStartIndex + prefix.length)

    //    if (cookieEndIndex == -1)

    //        cookieEndIndex = document.cookie.length

    //    return (document.cookie.substring(cookieStartIndex + prefix.length, cookieEndIndex))

    //}

    //function deleteCookie(name, path, domain) {

    //    if (getCookie(name)) {

    //        document.cookie = name + "=" +

    //        ((path) ? "; path=" + path : "") +

    //        ((domain) ? "; domain=" + domain : "") +

    //        "; expires=Thu, 01-Jan-70 00:00:01 GMT"

    //    }

    //}

    //function fixDate(date) {

    //    var base = new Date(0)

    //    var skew = base.getTime()

    //    if (skew > 0)

    //        date.setTime(date.getTime() - skew)

    //}

    //var now = new Date()

    //fixDate(now)

    //now.setTime(now.getTime() + 365 * 24 * 60 * 60 * 1000)

    //var visits = getCookie("counter")

    //if (!visits)

    //    visits = 1

    //else

    //    visits = parseInt(visits) + 1;

    //setCookie("counter", visits, now);
          
    //document.getElementById("num").innerHTML = visits;

</script>