@model 精致的衣橱.Models.MallViewModel
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Cooldog.css" rel="stylesheet" />
<link href="~/Content/iconfont.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Cooldog.js"></script>
<link href="~/Content/Mall.css" rel="stylesheet" />

<style>
    .hotprice{
     text-decoration:none;
     font-size:16px;
     /*color: rgba(0, 0, 0,0.5);*/
     color:red;
     display:block;
     text-align:center;
     margin:auto;
 }
  .hottitle{
     text-decoration:none;
     font-size:18px;
     color: rgba(0, 0, 0,0.7);
     display:block;
     text-align:center;
     /*margin:6px 0 8px 0;*/
     margin:auto;
 }
.rexiao{
    height:100px;
    background-color:antiquewhite;
}
.rxz{
    text-align:center;
    font-size:88px;
}
  .t{
    display:inline-block;
}
.t p{
    font-size:30px;
    margin:15px 0;
    display:inline-block;
}
/*ul li{
    display:inline-block;
}
/*ul li span{
    margin-bottom:-20px;
    margin:auto;
    
}*/
/*ul li:hover{
    box-shadow:inset;
    margin-bottom:20px;
}*/
.c1{
    width:100%;
}
.c1 img {
     
       width:275px;
       box-sizing: border-box; 
}
.c1 img:hover{
  
    box-shadow: 1px 1px 5px #000000;
    border:1px solid red;
	margin-top: -1px;

}
    .chungoods li {
        display:inline-block;
        height:300px;
        width:282px;
    }
    .goods_change{
        width: 102px;
        height: 25px;
        float: right;
        margin-top: 20px;
        border: 1px solid #F0F0F0;
        color: #BEBEBE;
        line-height: 25px;
        text-align: center;
    }
    .goods_prave{
        width: 50px;
        height: 25px;
        float: left;
        font-size: 20px;
        border-right: 1px solid #F0F0F0;
        cursor: pointer;
    }
    .goods_next{
        width: 50px;
        height: 25px;
        float: right;
        font-size: 20px;
        border-right: 1px solid #F0F0F0;
        cursor: pointer;
    }
</style>
<div class="Cooldog_container">
<div class="Cooldog_content">
    <ul>
        <li class="p1">
            <a href="#">
                <img src="~/Images/LunboImages/1.jpg" />
            </a>
        </li>
        <li class="p2">
            <a href="#">
                <img src="~/Images/LunboImages/4.jpg" alt="">
            </a>
        </li>
        <li class="p3">
            <a href="#">
                <img src="~/Images/LunboImages/3.jpg" alt="">
            </a>
        </li>
        <li class="p4">
            <a href="#">
                <img src="~/Images/LunboImages/2.jpg" alt="">
            </a>
        </li>
        <li class="p5">
            <a href="#">
                <img src="~/Images/LunboImages/5.jpg" alt="">
            </a>
        </li>
        <li class="p5">
            <a href="#">
                <img src="~/Images/LunboImages/6.jpg" alt="">
            </a>
        </li>
        <li class="p5">
            <a href="#">
                <img src="~/Images/LunboImages/7.jpg" alt="">
            </a>
        </li>
    </ul>
</div>
<a href="javascript:;" class="btn_left">
    <i class="iconfont icon-zuoyoujiantou"></i>
</a>
<a href="javascript:;" class="btn_right">
    <i class="iconfont icon-zuoyoujiantou-copy-copy"></i>
</a>
<a href="javascript:;" class="btn_close">
    <i class="iconfont icon-icon-test"></i>
</a>
<div class="buttons clearfix">
    <a href="javascript:;" class="color"></a>
    <a href="javascript:;"></a>
    <a href="javascript:;"></a>
    <a href="javascript:;"></a>
    <a href="javascript:;"></a>
    <a href="javascript:;"></a>
    <a href="javascript:;"></a>
</div>
</div>
<br />
<div class="rexiao"><h2 class="rxz">热销商品</h2></div>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="home">
        <div class="row">
            @foreach (var item in Model.HotGoods)
            {

                <div class="col-md-3 col-sm-3">
                    <div class="panel panel-default text-center">
                        <div class="panel-panel-heading">
                            <h1>@item.Name</h1>
                        </div>
                        <div class="panel-body" style="height:225px">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="@item.Name"><img src="~/Images/GoodsImages/@Html.DisplayFor(Modelitem => item.GoodsImage)" style="height:100%;width:100%" /></a>
                        </div>

                        <div class="panel-footer">
                            <h3>@item.Unitprice</h3>
                            <h4>per clothes</h4>
                            <a href="@Url.Action("GoodsDetails","Mall",new { id=item.GoodsID})"><h1>立即购买</h1></a>

                        </div>

                    </div>

                </div>
            }
        </div>
       
        
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" style="font-size: large;">
            热门商品<span class="label label-danger">最热</span><a href="#"><span style="padding-left:927px;">更多>></span></a>
        </h2>
    </div>
    <div class="panel-body row" style="text-overflow:ellipsis">
        @foreach (var g in Model.HotGoods)
        {
            <div class="col-md-2 col-sm-4" style="height:340px;">
                <a href="#">
                    <img src="~/Images/GoodsImages/@g.GoodsImage" style="width:  100%;height: 300px;" />
                    @*<span class="label label-default" style="margin-top: -20px;">@g.Style</span>*@
                    <div class="hottitle">@g.Name</div>
                    <div class="hotprice">$: @g.Unitprice</div>

                </a>
                
                    
            </div>
        }
        <script>
                    $(function () { $("[data-toggle='tooltip']").tooltip(); });
        </script>
    </div>
</div>
<br />
<br />
<div class="t">
    <p>春/秋</p>
    <a href="#"><span style="padding-left:974px;font-size:19px;">更多>></span></a>
    @*<div class="goods_change">
        <span class="goods_prave"><</span>
        <span class="goods_next">></span>
    </div>*@
</div>
<hr style="border-top: 3px solid #DD3B44; width: 100%; margin-top: 20px; margin-bottom: 20px;" />
<div class="c1">
    @*<div class="row">
        @foreach (var item in Model.Chun)
        {

                <div class="col-md-4" style="box-sizing: border-box;">
                    <a href="#">
                        <img src="~/Images/GoodsImages/@item.GoodsImage"  />
                        <div>@item.Name</div>
                        <div>@item.Unitprice</div>
                    </a>
               </div>
        

        }
    </div>*@    
    <ul class="chungoods">
        @foreach (var item in Model.ChunQiu)
        {
            <li>
                <div style="box-sizing: border-box;">
                    <a href="#">
                        <img src="~/Images/GoodsImages/@item.GoodsImage" />
                        <div>@item.Name</div>
                        <div>@item.Unitprice</div>
                    </a>
                </div>
            </li>
        }   
    </ul>
</div>
<div class="t">
    <p>夏</p>
</div>
<hr style="border-top: 3px solid #DD3B44; width: 100%; margin-top: 20px; margin-bottom: 20px;" />
<div class="c1">
    <ul class="chungoods">
        @foreach (var item in Model.Xia)
        {
            <li>
                <div style="box-sizing: border-box;">
                    <a href="#">
                        <img src="~/Images/GoodsImages/@item.GoodsImage" />
                        <div>@item.Name</div>
                        <div>@item.Unitprice</div>
                    </a>
                </div>
            </li>
        }
    </ul>
</div>
<div class="t">
    <p>冬</p>
</div>
<hr style="border-top: 3px solid #DD3B44; width: 100%; margin-top: 20px; margin-bottom: 20px;" />
<div class="c1">
    <ul class="chungoods">
        @foreach (var item in Model.Xia)
        {
            <li>
                <div style="box-sizing: border-box;">
                    <a href="#">
                        <img src="~/Images/GoodsImages/@item.GoodsImage" />
                        <div>@item.Name</div>
                        <div>@item.Unitprice</div>
                    </a>
                </div>
            </li>
        }
    </ul>
</div>