@model IEnumerable<Models.Orders>
@{
    ViewBag.Title = "Order";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h2>Addaddress</h2>
    @*@foreach (var item in Model)
        {
            @Html.DisplayFor(modelItem => item.Address1)
            @Html.DisplayFor(modelItem => item.UserID)

        }*@
    @*<label>地址：</label> <input type="text" name="dizhi"/>*@



    @*@using (Html.BeginForm("Buy", "Mall", FormMethod.Post))
    {
        <label>姓名</label><input type="text" name="xingming" />
        <label>联系电话</label><input type="text" name="dianhua" />
        <label>地址</label><input type="text" name="dizhi" />
        <button>提交2</button>
    }*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.)*@
        </th>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.OrderTime)*@
                @item.OrderTime
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.TotalAmount)*@
                @item.TotalAmount
            </td>
            @*<td>*@
                @*@Html.DisplayFor(modelItem => item.UserName)*@
               
            @*</td>*@
            <td>
                @*@Html.DisplayFor(modelItem => item.Tel)*@
                @item.Tel
            </td>
            
        </tr>
    }
    </table>
</body>
</html>
