@model 精致的衣橱.Models.HomeIndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/shouye.css" rel="stylesheet" />
</head>
<body>
    <!--导航-->
    <style>
        .userinfobox {
           margin-left: 80px;
        }
        .userinfobox img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            vertical-align: baseline;
            background-color: #f5f5f5;
            
        }
        .nav {
            font-family: 'Roboto Mono', monospace;
        }
        .nav li {
            font-size: 22px;
         }
        #manban2 div {
            margin-top: 20px;
        }
        .central,
        .foot {
            width: 85%;
        }
        .container {
            max-width: 1373px;
        }
        #manban2 img {
            max-width: 480px;
            min-width: 360px;
            /*height: 297px;*/
        }
        #manban2 .topshadow {
            /*height: 40px;
            width: 200px;*/
            /*background-color:rgb(0,0,0);*/
            /*filter: opacity(50%);*/
            background: -webkit-linear-gradient(left,rgba(0,0,0,30%),rgba(0,0,0,0));
            position: absolute;
            /*top: -20px;*/
            z-index: 2;
            color: #f5f5f5;
        }
        .footshadow {
            height: 65px;
            width: 306px;
            background-color: rgba(0,0,0,0.3);
            position: absolute;
            bottom: 8px;
            color: #f5f5f5;
            font-size:16px;
        }
        #manban2 .footshadow {
            height: 65px;
            width: 306px;
            background-color: rgba(0,0,0,0.3);
            /*position: absolute;
            bottom: 8px;
            color: #f5f5f5;
            font-size:16px;*/
        }
        #manban2 .topshadow span {
                text-indent: 2em;
                line-height: 40px;
        }
        #video img {
           /*height: 120px;
           width: 120px;*/
          
		 /*min-height:120px;*/
		 /*min-width: 120px; 
         max-height: 120px;*/
         max-width: 200px;
         min-height: 120px;
         /*height: 120px;*/
         /*min-width: 120px;*/
         
		 vertical-align:middle;
	   }	
        #manban2 .more {
                font-size:16px;
                display:block;
            	white-space:nowrap; 
	            width:19em; 
	            overflow:hidden; 
                text-overflow:ellipsis;
	            /*border:1px solid #000000;*/
        }
        #manban2 a {
            color:rgb(0,0,0);
        }
        #manban2 img:hover {
	        box-shadow: 1px 1px 5px #000000;
	        margin-top: -1px;
         }
        /*.hotvideo:hover img {
            -webkit-filter: blur(3px); 
            filter: blur(5px);
        }*/
        /*.hotvideo:hover img::before {
            
            display:block;
            position:absolute;
            height:120px;
            width:120px;
            background-color:aqua;
           
        }*/
        .hotvideo:hover img {
             -webkit-filter: blur(1px); 
            filter: blur(1px);
        }
        .hotvideo:hover::after {
             position: absolute;
            content: "\25BA";
            display: inline-block;
            line-height:120px;
            left: 60px;
            height: 120px;
            top: 0px;
            width: 120px;
            font-size:40px;
            color: rgba(0,0,0,0.5);
            background-color: rgba(0,0,0,0);
        }
        .goods .footshadow {
            
            visibility: hidden;
            color: white;
            bottom: 40px;
            width: 192px;
            background-color: rgba(0,0,0,0.2);
            text-align:center;
            font-size:18px;

        }
         .goods:hover .footshadow {
            visibility: visible;
        }
        .goods a {
         color:black;
        }
        .goods a:hover {
            
            text-decoration: none;
            color:red;
        }
        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 23px;
            font-family: 'Roboto Mono', monospace;
        }
        .panel-default>.panel-heading {
            color: #333;
            background-color: #fff;
            border-color: #fff;
        }
        /*************热门商品开始***********************/
        .rst-item-inner-box-post {
            position: relative;
            height: 240px;
            overflow: hidden;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .rst-item-inner-box-post img {
            width: 100%;
        }
        .rst-item-inner-box-post .rst-title-box {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            z-index: 99;
            left: 0;
            right: 0;
            margin: 0px auto;
            text-align: center;
        }
        .rst-inner-title-box {
            display: inline-block;
            position: relative;
            padding: 10px;
            z-index: 99;
            background-color: #fff;
        }
        .rst-item-inner-box-post .rst-title-box h3 {
            padding: 12px 40px;
            display: inline-block;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 22px;
            margin: 0;
            display: inline-block;
            font-family: "Playfair Display";
            position: relative;
            z-index: 99;
            color: #000;
        }
        /*************热门商品结束***********************/
    </style>
        <!-- 首页第一块板块 -->
        <div class="shouyeban1 ">
            <div class="central">
                <div class="zong-nav">
                    <div class="nav">
                        <ul>
                            <li><a href="#">首页</a></li>
                            <li><a href="@Url.Action("Index","YiChu",new {Userid= @Session["User_id"]})">我的衣橱</a></li>
                            <li><a href="@Url.Action("Index","YiChuShow")">衣橱秀</a></li>
                            <li><a href="@Url.Action("Index","Mall")">商城</a></li>
                            <li><a href="#">个性推荐</a></li>
                            <li class="logo">JZYC</li>
                            @if (Session["User_id"] != null)
                            {
                                <li class="zhuxiaobox" style="display: none;"><span class="iconfont zhuxiao">&#xe610;</span></li>
                                <li  class="userinfobox"><a href="@Url.Action("Index","YiChu",new {Userid= @Session["User_id"]})"><img class="daohangimg" src="/Images/HeadImages/@Session["User_image"]" /></a></li>
                            }
                            else
                            {
                                <li class="userinfobox " >
                                   <a href="@Url.Action("RegisterLogin", "Users")">
                                   <img class="daohangimg" src="~/Images/yichu/wode.png"/>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    @*<div class="nav-r">
                        <div class="login-out">
                            <div class="login">
                                <a href="#">登陆</a>
                                <a href="#">注册</a>
                            </div>
                            <div class="logout"></div>
                        </div>
                        <div class="zoom"></div> 
                    </div>*@
                </div>
                <div class="yichu">
                    <div class="leftdoor">
                        <img src="~/shouyeimg/leftzheng.jpg" />
                        <img src="~/shouyeimg/fan.jpg" />
                    </div>
                    <div class="rightdoor">
                        <img src="~/shouyeimg/rightzheng.jpg" />
                        <img src="~/shouyeimg/fan.jpg" />
                    </div>
                    <div class="dandoor">
                        <img src="~/shouyeimg/danzheng.jpg" />
                        <img src="~/shouyeimg/fan.jpg" />
                    </div>
                </div>
            </div>
            <div class="foot">
                <ul>
                    <li>热门笔记</li>
                    <li>热门视频</li>
                    <li>新品上架</li>
                    <li>热销商品</li>
                </ul>
            </div>
        </div>
        <div class="container">
        <!--热门视频-->
        <div class="panel panel-default" id="video">
            <div class="panel-heading">
                <h3 class="panel-title" >
                    热门视频<span style="padding-left:950px;">更多>></span>
                </h3>
            </div>
            <div class="panel-body row " >
                @foreach (var v in Model.videos)
                {
                    <div class="col-md-2 col-sm-4 hotvideo">
                        <div style="width: 120px;height: 120px;overflow: hidden">
                            <img src="/Images/videoimg/@v.Image" data-toggle="tooltip" data-placement="right" title="" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- 热门笔记-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div id="inner-header" class="">
                    <div class="container">
                        <div class="rst-logo  text-center ">
                            <a href="#">
                                <img src="~/Images/yichu/热门笔记.jpg" />
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                @*<h2 class="panel-title" >
                    笔记排行榜<span class="label label-danger">最热</span>
                </h2>*@
            </div>
            <div class="panel-body row" id="manban2" >
                @foreach (var n in Model.notes)
                {
                    
                    <div class="col-md-3 col-sm-4 " style="height:400px;">
                        <a href="#">
                            @*<div class="topshadow ">
                                <span class="glyphicon glyphicon-thumbs-up">&nbsp;@n.likenum</span>
                            </div>*@
                            <div style="width: 300px;height: 370px;overflow: hidden;">
                                <img src="/Images/Noteimg/@n.Img" />
                            </div>
                            <span class="label label-default" style="margin-top: -20px;"></span>
                           <!-- <span class="more">@n.Title</span>-->
                            <div class="footshadow">@n.Title</div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- 热门商品-->
        <div class="panel panel-default">
                <div class="panel-heading">
                            <div id="inner-header" class="">
                                <div class="container">
                                    <div class="rst-logo  text-center ">
                                        <a href="#">
                                            <img src="~/Images/yichu/热销商品.jpg" />
                                        </a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                    @*<h2 class="panel-title" >
                        热门商品<span class="label label-danger">最热</span>
                    </h2>*@
                </div>
                <div class="panel-body row"  style="text-overflow:ellipsis">
                    @foreach (var g in Model.hotgoods)
                    {
                        <div class="col-md-4 col-sm-4 col-xs-12 rst-item-box-post">
                            <div class="rst-item-inner-box-post">
                                <a href="#">
                                    <div class="fully-figcaption">
                                        <img alt="" src="/Images/Noteimg/@g.GoodsImage" />
                                        <div class="rst-title-box">
                                            <div class="rst-inner-title-box">
                                                <h3>@g.Name</h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    }
                    <script>
                    $(function () { $("[data-toggle='tooltip']").tooltip(); });
                    </script>
                </div>
            </div>
        <!-- 新品上架-->
        <div class="panel panel-default">
                <div class="panel-heading">
                    <div id="inner-header" class="">
                        <div class="container">
                            <div class="rst-logo  text-center ">
                                <a href="#">
                                    <img src="~/Images/yichu/新品上架.jpg" />
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-body row"  style="text-overflow:ellipsis">
                    @foreach (var g in Model.newgoods)
                    {
                        <div class="col-md-2 col-sm-4 goods" style="height:340px;">
                                <a href="#">
                                <img src="/Images/Noteimg/@g.GoodsImage" style="width:  100%;height: 300px;" />
                                <span class="label label-default" style="margin-top: -20px;">@g.Style</span>
                                <span>@g.Name</span>
                                </a>
                                <div class="footshadow">
                                    $: @g.Unitprice
                                </div>
                    </div>
                    }
                    <script>
                    $(function () { $("[data-toggle='tooltip']").tooltip(); });
                    </script>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <h2>友情连接</h2>
        <br />
        <br />
        <div class="row" style="color: #000000;">
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">哈哈网</a>
            </div>
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">欸嘿嘿网</a>
            </div>
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">韩娱网</a>
            </div>
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">爱豆</a>
            </div>
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">u五五零零</a>
            </div>
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">迟迟但是</a>
            </div>
            <br />
            <br />
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">隐隐音乐</a>
            </div>
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">风景画</a>
            </div>
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">嘎嘎嘎</a>
            </div>
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">凤飞飞</a>
            </div>
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">反反复复</a>
            </div>
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">报告会</a>
            </div>
            <br />
            <br />
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">哈哈哈</a>
            </div>
            <div class="col-md-2">
                <a href="#" style="color: #000000;font-size: medium;">咯咯咯</a>
            </div>
        </div>
        <hr />
        <footer>
            Copyright ©2019 精致的衣橱 lq wjk
        </footer>
        <br />

</body>
</html>
