@model 精致的衣橱.Models.YiChuShowViewModel
@{
    Layout = "~/Views/Shared/_LayoutDaohang.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title> 
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/demo.css" rel="stylesheet" />
    <script>document.documentElement.className = 'js';</script>
    <style>
        body {
            background-color: #f2f2f2;
            font-size: 20px;
        }
        .control__item {
            display: inline-block;
            width: 237px;
        }
        .control__item:hover .control__label{
                color: black!important;
                font-size: 24px;
       }
        main .content{
            margin: 0 auto;
        }
        .control--grids {
            margin: 6px 140px 2.5em;
            /*text-align: right;*/
            background-color: white;
            border-top: 28px solid #f2f2f2;
            height: 110px;
            text-align: center;
            /*letter-spacing: 10px;*/
            font-size: 20px;
            
        }
        /*.control__radio {
            border-right: 10px solid #fff;
            margin-right: 10px;
        }*/
        .control__radio:checked + .control__label {
            color: #fff;
            background: #ff006e;
        }
    </style>
</head>
<body class="loading">
        <div class="control control--grids">
            <div class="control__item">
                <input class="control__radio" type="radio" name="grid-type" value="grid--type-a" id="control-grid-a" checked>
                <label class="control__label" for="control-grid-a">精选笔记</label>
            </div>
            <div class="control__item">
                <input class="control__radio" type="radio" name="grid-type" value="grid--type-b" id="control-grid-b">
                <label class="control__label" for="control-grid-b">精选视频</label>
            </div>
            <div class="control__item">
                <input class="control__radio" type="radio" name="grid-type" value="grid--type-c" id="control-grid-c">
                <label class="control__label" for="control-grid-c">最新笔记</label>
            </div>
            <div class="control__item">
                <input class="control__radio" type="radio" name="grid-type" value="grid--type-d" id="control-grid-d">
                <label class="control__label" for="control-grid-d">最新视频</label>
            </div>
            <a href="@Url.Action("UpNote","YiChuShow")">发表笔记</a>
            <a href="@Url.Action("UpVideo","YiChuShow")">上传视频</a>
            <a href="@Url.Action("Userhome","YiChuShow")">
                <img src="~/Images/HeadImages/1.jpg" style="height:50px;width:50px;" />
            </a>
        </div>
        <main>
            <div class="content content--center">
                <div class="grid grid--type-a">
                    <div class="grid__sizer"></div>
                    @foreach (var n in Model.JingXuanNote)
                    {
                        <div class="grid__item">
                            <a class="grid__link" href="@Url.Action("NoteDetail", "YiChuShow", new {id=@n.NoteID})">
                            <img class="grid__img" src="/Images/Noteimg/@n.Img" alt="Some image" />
                            </a>
                        </div>
                    }
                </div>
                <div class="grid grid--type-b">
                    <div class="grid__sizer"></div>
                    @foreach (var n in Model.JingXuanVideo)
                    {
                        <div class="grid__item">
                            <a class="grid__link" href="@Url.Action("VideoDetail", "YiChuShow", new {id=@n.VideoID})">
                            <img class="grid__img" src="/Images/Noteimg/@n.Image" alt="Some image" />
                                <span>@n.likenum</span>
                            </a>
                        </div>
                    }
                </div>
                <div class="grid grid--type-c">
                    <div class="grid__sizer"></div>
                    @foreach (var n in Model.NewNote)
                    {
                        <div class="grid__item">
                            <a class="grid__link" href="@Url.Action("NoteDetail", "YiChuShow", new {id=@n.NoteID})">
                                <img class="grid__img" src="/Images/Noteimg/@n.Img" alt="Some image" />
                            </a>
                        </div>
                    }
                </div>
                <div class="grid grid--type-d">
                    <div class="grid__sizer"></div>
                    @foreach (var n in Model.NewVideo)
                    {
                        <div class="grid__item">
                            <a class="grid__link" href="@Url.Action("VideoDetail", "YiChuShow", new {id=@n.VideoID})">
                                <img class="grid__img" src="/Images/Noteimg/@n.Image" alt="Some image" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </main>
    <script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/masonry.pkgd.min.js"></script>
    <script src="~/Scripts/anime.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    </body>
</html>
