@model Models.Note

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoteDetail</title>
    <style>
        .notecontent {
           width: 580px;
           background-color: antiquewhite;
        }
        img {
            width: 580px;
        }
    </style>
</head>
<body>
    <div class="notecontent">
        <h2>@Model.Title</h2>
        <span>@Model.Users.UserName</span><span>@Model.Time</span>
        <hr />
        @Html.Raw(@Model.NoteContent)
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>

</html>
