@model 精致的衣橱.Models.YiChuShowViewModel

@{
    Layout = "~/Views/Shared/_LayoutDaohang.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoteDetail</title>
    <style>
        body {
          background-color: #f2f2f2;
        }
        .container {
            margin: 0 auto;
            width: 1200px;
            background-color: antiquewhite;
            filter: blur(0px);
        }
        .notehead {
            height: 78px;
        }
        .notehead p,
        .notehead a {
              color: #999;  
        }
        .notehead a {
              text-decoration: none;
        }
        .notecontent {
           float: left;
           width: 75%;
           background-color: white;
           border-right:20px solid #f2f2f2;
           box-sizing: border-box;
           margin-top: 20px;
           /*overflow-y: scroll;*/
        }
        .notecontent h2 {
            color: #222;
            font-size: 20px;
            margin-bottom: 30px;
            margin-top: 4px;
            padding: 0;
            border-bottom: none;
            font-weight: 700;
        }
        .noterelative {
            float: right;
            width: 25%;
            background-color: #f2f2f2;
            height:800px;
            margin-top: 20px;
        }
        .notedetail {
            border-bottom: 40px solid #fff;
        }
        
        /***作者框开始****************************/
        .author {
            width: 100%;
            background-color: #fff;
            overflow: auto;
        }
        .authortitle {
            width: 240px;
            margin: 14px auto 0px auto;
            border-bottom: 1px solid #f2f2f2;
        }
       
        .authortitle img {
            height: 70px;
            width: 70px;
        }
        .authortitle span {
            font-size: 22px;
            /*margin-bottom: 15px;*/
            color: #555;
        }
         .authorads {
            width: 240px;
            margin: 0px auto 14px auto;
        }
        .authorads a{
            display: block;
            height: 40px;
            text-align: center;
        }
        /******作者框结束*****************************/
       /*******视频列表开始***************************/
        .notelist {
            background-color: #fff;
            margin-top: 14px;
            overflow: auto;
        }
        .notere {
            width: 240px;
            margin: 14px auto 14px auto;
            /*border-bottom: 1px solid #f2f2f2;*/
        }
       /*******视频列表结束***************************/
    </style>
   
</head>
<body>
    <div class="container">
        <div class="notecontent">
            <div class="notedetail">
                <div class="notehead">
                    <p>
                        <a href="@Url.Action("Index","YiChuShow")">衣橱秀场</a>@*viewbag传值*@
                        <span>》笔记详情</span>
                    </p>
                    <h2>@Model.notedetail.Title</h2>
                </div>
                @*<img src="/Images/Noteimg/@Model.Img" style="width: 100%"/>*@
                @*<span>@Model.Users.UserName</span><span>@Model.Time</span>*@
                <hr />
                @Html.Raw(@Model.notedetail.NoteContent)
            </div>
            
            <div class="buttons">
                <span class="text"> </span><p style="display: inline">(@Model.notedetail.likenum)</p>
            </div>
            <h2>评论</h2>
            <hr />
       
            <div class="pinlunkuang">
                <input id="fabiaopinlun" placeholder="发表评论" />
            </div>
            <div id="notecomment">
                @foreach (var n in Model.allnotecommentbyid)
                {
                    @n.Nccontent;
                }
            </div>
        </div>
        <div class="noterelative">
           <div class="author">
               <div class="authortitle">
                   <img src="/Images/HeadImages/@Model.notedetail.Users.HeadImage" />
                  作者：<span>@Model.notedetail.Users.UserName </span>
               </div>
               <div class="authorads">
                   @*<span>@Model.Users.Address</span>
                   <span>@Model.Users.Birthday</span>*@
                   <p>传送门</p>
                   <a href="#">作者主页</a>
                   <a href="#">作者关注</a>
                   <a href="#">作者粉丝</a>
               </div>
           </div>
           <div class="notelist">
               <div class="notere">
                   <p>相关推荐</p>
                   @Html.Action("NoteRelative", new { authorid = @Model.notedetail.UserID, title = @Model.notedetail.Title })
               </div>
           </div>
        </div>


    </div>
    
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script>
    $(function () {   //点赞
        var active=true;
        var btn=$(".buttons");
        btn.click(function(){
            if(btn.active){
                btn.find("span").text("取消点赞")
                $.ajax({
                    type: "get",
                    url: "/YiChuShow/notezan",
                    data: { "userid": 1 ,"noteid":@Model.notedetail.NoteID},
                    success: function (data) {
                        btn.find("p").html(data)
                    },
                    async: true
                });
                btn.active=false
            } else {
                btn.find("span").text("点赞")
                $.ajax({
                    type: "get",
                    url: "/YiChuShow/notezan",
                    data: { "userid": 1 ,"noteid":@Model.notedetail.NoteID},
                    success: function (data) {
                        btn.find("p").html(data)
                    },
                    async: true
                });
                btn.active=true
            }
        })
        $.ajax({//判断用户是否点赞过视频，确定初始化样式
            type: "get",
            url: "/YiChuShow/ifnotelike",
            data: { "userid": 1 ,"noteid":@Model.notedetail.NoteID},
            success: function (data) {
                if (data==true)
                {
                    btn.addClass("active")
                    btn.find("span").text("取消点赞")

                }
                else
                {
                    btn.find("span").text("点赞")
                }
            },
            async: true
        });
    });
   
        $("#fabiaopinlun").click(function(){
            var a=layer.prompt({title: '随便写点啥，并确认', formType: 2}, function(text, index){
                layer.msg('您最后写下了：'+text);
                });
        })
    
      
    </script>
</body>

</html>
