
@model 精致的衣橱.Models.YiChuShowViewModel

@{
    Layout = "~/Views/Shared/_LayoutDaohang.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoteDetail</title>
    <style>
        body {
          background-color: #f2f2f2;
        }
        .container {
            margin: 0 auto;
            width: 1200px;
            background-color: antiquewhite;
            filter: blur(0px);
        }
        .notehead {
            height: 100px;
        }
        .notehead p,
        .notehead a {
              color: #999;  
        }
        .notehead a {
              text-decoration: none;
        }
        .notecontent {
           float: left;
           width: 75%;
           background-color: white;
           border-right:60px solid #f2f2f2;
           box-sizing: border-box;
           margin-top: 20px;
           /*overflow-y: scroll;*/
        }
        .notecontent h2 {
            color: #222;
            font-size: 20px;
            margin-bottom: 30px;
            margin-top: 4px;
            padding: 0;
            border-bottom: none;
            font-weight: 700;
        }
        .noterelative {
            float: right;
            width: 25%;
            background-color: #f2f2f2;
            height:800px;
            margin-top: 20px;
        }
        .notedetail {
            border-bottom: 40px solid #fff;
            overflow-x: hidden;
        }
        /*.notedetail img {

        }*/
       .notetitle {
            font-size: 30px;
            padding: 23px 0px 4px 25px;
            margin-bottom: 10px;
            /*font-weight: bold;*/
            line-height: 100px;
        }
       /************导航开始**********************/
        .zong-nav {
            height: 80px;
            border-top: 1px dashed #ccc;
            border-bottom: 1px dashed #ccc;
        }
        .ji {
            height: 76px;
        }
        /************导航结束**********************/
        /***作者框开始****************************/
        .author {
            width: 100%;
            background-color: #fff;
            overflow: auto;
        }
        .authortitle {
            width: 240px;
            margin: 14px auto 0px auto;
            border-bottom: 1px solid #f2f2f2;
        }
       
        .authortitle img {
            height: 70px;
            width: 70px;
        }
        .authortitle span {
            font-size: 22px;
            /*margin-bottom: 15px;*/
            color: #555;
        }
         .authorads {
            width: 240px;
            margin: 0px auto 14px auto;
        }
        .authorads a{
            display: block;
            height: 40px;
            text-align: center;
        }
        /******作者框结束*****************************/
       /*******笔记列表开始***************************/
        .notelist {
            background-color: #fff;
            margin-top: 14px;
            overflow: auto;
        }
        .notere {
            width: 240px;
            margin: 14px auto 14px auto;
            /*border-bottom: 1px solid #f2f2f2;*/
        }
       /*******笔记列表结束***************************/
       /**************评论框开始**************************/
        .pinlunkuang {
            height: 100px;
            width: 100%;
        }
         #fabiaopinlun {
            display: block;
            margin: 0 auto;
            border: 1px solid #999;
            height: 43px;
            width: 81%;
         }

        .comment {
            padding: 14px 20px;
            border-bottom: 1px solid #EDEDED;
            overflow: hidden;
            font-size: 14px;
            position: relative;
        }
       .comment .img {
           float: left;
         }
       .img img {
            width: 50px;
            height: 50px;
       }
       .comment .meta {
            color: #999;
            margin: 2px 0 6px 60px;
       }
       .comment .text {
            margin-left: 60px;
            line-height: 1.2;
       }
       .comment .action-buttons {
            /*visibility: hidden;*/
            width: 80px;
            height: 30px;
            position: absolute;
            right: 20px;
            top: 14px;
        }
        .reply-button {
            float: right;
            /*background: url('../../Images/yichu/qqq.ico') 0 0 no-repeat;*/
            width: 30px;
            height: 20px;
            cursor: pointer;
            margin-left: 7px;
        }
       /****************评论框结束******************************/
       /*********关于我开始*******/
       .widget {
            background-color: #fff;
            border: 1px solid #e7e7e7;
            padding: 42px 19px 49px;
            margin-bottom: 50px;
        }
       .widget-title span {
            position: relative;
            background-color: #fff;
            padding: 0 12px;
            overflow: hidden;
            z-index: 1;
        }
       .widget-title {
            margin: 0;
            font-family: "Merriweather";
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: .1em;
            font-size: 14px;
            line-height: 14px;
            position: relative;
            text-align: center;
        }
        .shape2 {
            height: 12px;
            /*background-image: url('../../Images/yichu/shape2.png');*/
            background: url(../../Images/yichu/shape2.png) no-repeat center center;
            background-color: rgba(0, 0, 0, 0);
            margin: 20px auto 30px;
            line-height: 12px;
            text-align: center;
            width: 75px;
            background-color: #617c58;
        }
       .about-me img {
            width: 100%;
            margin-bottom: 40px;
        }
        .widget-title::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            height: 1px;
            border-top: 1px dashed #e7e7e7;
            width: 100%;
        }
       /************关于我结束**********/

    </style>
   
</head>
<body>
    <div class="container">
        <div class="notecontent">
            <div class="notedetail">
                <div class="notehead" style="border-bottom: 22px solid #f2f2f2;overflow: hidden;">
                    @*<p>
                        <a href="@Url.Action("Index","YiChuShow")">衣橱秀场</a>
                        <span>》笔记详情</span>
                    </p>*@
                        <span class="notetitle">Title: </span><span style="font-size: 24px;white-space: nowrap;text-overflow: ellipsis">@Model.notedetail.Title</span>
                </div>
                @*<img src="/Images/Noteimg/@Model.notedetail.Img" style="width: 100%"/>*@
                @*<span>@Model.Users.UserName</span><span>@Model.Time</span>*@
                @*@Model.notedetail.Img*@
                @Html.Raw(@Model.notedetail.NoteContent)
            </div>
            <div style="border-top: 14px solid #f5f5f5">
            <div class="buttons">
                <span class="text"> </span><p style="display: inline">(@Model.notedetail.likenum)</p>
            </div>
            <h2>评论</h2>
            @*<hr />*@
       
            <div class="pinlunkuang">
                <input id="fabiaopinlun" placeholder="发表评论" />
            </div>
            <div id="notecomment">
                @foreach (var n in Model.allnotecommentbyid)
                {
                    <div class="comment" style="background-color: transparent;">
                        <a title="发射米奇" class="img">
                            <img src="/Images/HeadImages/@n.Users.HeadImage"/>
                        </a>
                       <div class="meta">
                            <a class="author">@n.Users.UserName</a>&nbsp;-&nbsp;<span data-ts="1560236832" class="ts-words"> @n.Time</span>说：
                       </div>
                      <div class="text">@n.Nccontent</div>
                      <div class="action-buttons">
                           <a  title="回复" class="reply-button" id="@n.NoteCommentID">回复</a>
                           <a  title="删除" class="delete">删除</a>
                      </div>
                      <div class="commentreply">
                          @Html.Action("ncreply",new { commentid = @n.NoteCommentID })
                      </div>
                 </div>
               
                }
            </div>
          </div>
        </div>
        <div class="noterelative">
           @*<div class="author">
               <div class="authortitle">
                   <img src="/Images/HeadImages/@Model.notedetail.Users.HeadImage" />
                  作者：<span>@Model.notedetail.Users.UserName </span>
               </div>
               <div class="authorads">
                   <span>@Model.Users.Address</span>
                   <span>@Model.Users.Birthday</span>
                   <p>传送门</p>
                   <a href="#">作者主页</a>
                   <a href="#">作者关注</a>
                   <a href="#">作者粉丝</a>
               </div>
           </div>*@
           <div class="widget">
                <h3 class="widget-title"><span>Author</span></h3>
                <div class="shape2"></div>
                <div class="about-me text-center">
                    <img src="/Images/HeadImages/@Model.notedetail.Users.HeadImage" />
                    <p>作者：@Model.notedetail.Users.UserName</p>
                </div><!-- .about-me -->
            </div>
           <div class="notelist widget">
               <h3 class="widget-title"><span>related</span></h3>
               <div class="shape2"></div>
               <div class="notere">
                   @*<p>相关推荐</p>*@
                   @Html.Action("NoteRelative", new { authorid = @Model.notedetail.UserID, title = @Model.notedetail.Title })
               </div>
           </div>
        </div>
    </div>
    
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script>
    $(function () {   //点赞
        var active=true;
        var btn=$(".buttons");
        btn.click(function(){
            if(btn.active){
                btn.find("span").text("取消点赞")
                $.ajax({
                    type: "get",
                    url: "/YiChuShow/notezan",
                    data: { "noteid":@Model.notedetail.NoteID},
                    success: function (data) {
                        btn.find("p").html(data)
                    },
                    async: true
                });
                btn.active=false
            } else {
                btn.find("span").text("点赞")
                $.ajax({
                    type: "get",
                    url: "/YiChuShow/notezan",
                    data: { "userid": 1 ,"noteid":@Model.notedetail.NoteID},
                    success: function (data) {
                        btn.find("p").html(data)
                    },
                    async: true
                });
                btn.active=true
            }
        })
        $.ajax({//判断用户是否点赞过视频，确定初始化样式
            type: "get",
            url: "/YiChuShow/ifnotelike",
            data: { "userid": 1 ,"noteid":@Model.notedetail.NoteID},
            success: function (data) {
                if (data==true)
                {
                    btn.addClass("active")
                    btn.find("span").text("取消点赞")

                }
                else
                {
                    btn.find("span").text("点赞")
                }
            },
            async: true
        });
    });

        $("#fabiaopinlun").click(function(){//评论
            var a=layer.prompt({title: '随便写点啥，并确认', formType: 2}, function(text, index){
                //text传到后台
                $.ajax({
                    type: "post",
                    url: "/YiChuShow/notecomment",
                    data: { "noteid":@Model.notedetail.NoteID,"ccontent":text},
                    success: function (data) {
                        //alert(data);
                        //$('#notecomment').html(data);
                        layer.msg(data);
                        $.ajax({
                            type: "get",
                            url: "/YiChuShow/notecomment",
                            data: { "noteid":@Model.notedetail.NoteID},
                            success: function (data) {
                                //alert(data);
                                $('#notecomment').html(data);
                                //layer.msg(data);

                            },
                            async: true
                        });
                    },
                    async: true
                });
                //layer.msg('评论成功');
                layer.close(index);
                });
        })
        //回复评论reply-button
        $(".reply-button").click(function(){
            var commentid = $(this).attr("id");
            var shua=$(this).parent().next();
            //var commentid=$(".commentid").val();
            var a=layer.prompt({title: '随便写点啥，并确认', formType: 2}, function(text, index){
                //text传到后台
                $.ajax({
                    type: "post",
                    url: "/YiChuShow/ncreply",
                    data: { "commentid":commentid,"rcontent":text},
                    success: function (data) {
                        //alert(data);
                        //now.html(data);
                        shua.html(data);
                    },
                    async: true
                });
                //layer.msg(commentid);
                layer.close(index);
            });
        })
    </script>
</body>

</html>
