@model Models.Note

@{
    Layout = "~/Views/Shared/_LayoutDaohang.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoteDetail</title>
    <style>
        body {
          background-color: #f2f2f2;
        }
        .container {
            margin: 0 auto;
            width: 1200px;
            background-color: antiquewhite;
            filter: blur(0px);
        }
        .notecontent {
           float: left;
           width: 75%;
           background-color: white;
           border-right:20px solid #f2f2f2;
           box-sizing: border-box;
           margin-top: 20px;
           /*overflow-y: scroll;*/
        }
        .notecontent h2 {
            color: #222;
            font-size: 20px;
            margin-bottom: 30px;
            margin-top: 4px;
            padding: 0;
            border-bottom: none;
            font-weight: 700;
        }
        .noterelative {
            float: right;
            width: 25%;
            background-color: aqua;
            height:800px;
            margin-top: 20px;
        }
        img {
            width: 580px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="notecontent">
            <p>
                @Html.ActionLink("返回", "Index")
            </p>
            <h2>@Model.Title</h2>
            <span>@Model.Users.UserName</span><span>@Model.Time</span>
            <hr />
            @Html.Raw(@Model.NoteContent)
        </div>
        <div class="noterelative">
            aaaaaaaaa
         
        </div>
    </div>
  
</body>

</html>
