@model 精致的衣橱.Models.YiChuShowViewModel
@{
    Layout = "~/Views/Shared/_UsershowhomeLayout.cshtml";
    ViewBag.fensinum = Model.fensnum;
    ViewBag.attentionnum = Model.attentionnum;
    ViewBag.userid = 1;
}
<style>
    #userlike {
       
    }
    /*.userhome div {
        display: inline-block;
        width: 300px;
        height:300px;
        overflow: hidden;
        background-color:#fff;
    }
    .userhome div img {
        width:100%;
        
    }*/
</style>
<div class="tab_container">
    <div id="userlike" class="userhome tab_content">
        @foreach (var video in Model.userlikevideo)
        {
            <div class="w_user_works_preview works-preview">
                <div class="works-item">
                    <a target="_blank" href="@Url.Action("VideoDetail", "YiChuShow", new {id=@video.VideoID})" class="works-image" style="background-image: url('../../Images/Noteimg/@video.Video.Image');">
                        <!---->
                        <!---->
                        <div class="cc_shadow"></div>
                        <!---->
                        <div class="image-count">
                            <span>17</span>
                            @*<span class="iconfont icon-group image-count-font"></span>*@
                        </div>
                    </a>
                    <div class="works-info">
                        <div class="works-time">20小时前</div>
                        <div class="works-title">容颜</div>
                        <div class="tag-list"></div>
                        <div class="works-count-info">
                            <div class="cc_info_left">
                                <div class="cc_left_tag">
                                    <span class="iconfont icon-view"></span>
                                    <span>131334</span>
                                    <span class="iconfont icon-discuss comment-font"></span>
                                    <span>50</span>
                                </div> <!---->
                            </div>
                            <div class="cc_info_right">
                                <div class="w_like_button like-count-info" data-widget_cache_key="1560515131118">
                                    <div class="like-button-wrapper light-color">
                                        <div class="iconfont icon-zan like-font"></div>
                                        <span class="like-count">565</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="cover-container" style="display: none;" data-widget_cache_key="1560515131118">
                    <form class="cover-content">
                        <!---->
                        <div class="form-content"></div> <!---->
                        <div class="promise-option">
                            <div class="w_default_button promise-button" data-widget_cache_key="1560515131118">
                                <button type="button" class="default-button default-button">取消</button>
                            </div>
                            <div class="w_default_button promise-button" data-widget_cache_key="1560515131118_1">
                                <button type="submit" class="default-button normal-button">确定</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            @*<div>
                <a href="@Url.Action("VideoDetail", "YiChuShow", new {id=@video.VideoID})">
                    <img src="/Images/Noteimg/@video.Video.Image" alt="Some image" />
                    <span>@video.Video.likenum</span>
                </a>
            </div>*@
        }
        @foreach (var note in Model.userlikenote)
        {
            <div class="w_user_works_preview works-preview">
                <div class="works-item">
                    <a target="_blank" href="@Url.Action("VideoDetail", "YiChuShow", new {id=@note.NoteID})" class="works-image" style="background-image: url('../../Images/Noteimg/@note.Note.Img');">
                        <!---->
                        <!---->
                        <div class="cc_shadow"></div>
                        <!---->
                        <div class="image-count">
                            <span>17</span>
                            @*<span class="iconfont icon-group image-count-font"></span>*@
                        </div>
                    </a>
                    <div class="works-info">
                        <div class="works-time">20小时前</div>
                        <div class="works-title">容颜</div>
                        <div class="tag-list"></div>
                        <div class="works-count-info">
                            <div class="cc_info_left">
                                <div class="cc_left_tag">
                                    <span class="iconfont icon-view"></span>
                                    <span>131334</span>
                                    <span class="iconfont icon-discuss comment-font"></span>
                                    <span>50</span>
                                </div> <!---->
                            </div>
                            <div class="cc_info_right">
                                <div class="w_like_button like-count-info" data-widget_cache_key="1560515131118">
                                    <div class="like-button-wrapper light-color">
                                        <div class="iconfont icon-zan like-font"></div>
                                        <span class="like-count">565</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="cover-container" style="display: none;" data-widget_cache_key="1560515131118">
                    <form class="cover-content">
                        <!---->
                        <div class="form-content"></div> <!---->
                        <div class="promise-option">
                            <div class="w_default_button promise-button" data-widget_cache_key="1560515131118">
                                <button type="button" class="default-button default-button">取消</button>
                            </div>
                            <div class="w_default_button promise-button" data-widget_cache_key="1560515131118_1">
                                <button type="submit" class="default-button normal-button">确定</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            @*<div>
                <a href="@Url.Action("NoteDetail", "YiChuShow", new {id=@note.NoteID})">
                    <img src="/Images/Noteimg/@note.Note.Img" alt="Some image" />
                    <span>@note.Note.likenum</span>
                </a>
            </div>*@
        }
    </div>
    <div id="usernote" class="userhome tab_content">
        @foreach (var note in Model.userupnote)
        {
            <div class="w_user_works_preview works-preview">
                <div class="works-item">
                    <a target="_blank" href="@Url.Action("VideoDetail", "YiChuShow", new {id=@note.NoteID})" class="works-image" style="background-image: url('../../Images/Noteimg/@note.Img');">
                        <!---->
                        <!---->
                        <div class="cc_shadow"></div>
                        <!---->
                        <div class="image-count">
                            <span>17</span>
                            @*<span class="iconfont icon-group image-count-font"></span>*@
                        </div>
                    </a>
                    <div class="works-info">
                        <div class="works-time">20小时前</div>
                        <div class="works-title">容颜</div>
                        <div class="tag-list"></div>
                        <div class="works-count-info">
                            <div class="cc_info_left">
                                <div class="cc_left_tag">
                                    <span class="iconfont icon-view"></span>
                                    <span>131334</span>
                                    <span class="iconfont icon-discuss comment-font"></span>
                                    <span>50</span>
                                </div> <!---->
                            </div>
                            <div class="cc_info_right">
                                <div class="w_like_button like-count-info" data-widget_cache_key="1560515131118">
                                    <div class="like-button-wrapper light-color">
                                        <div class="iconfont icon-zan like-font"></div>
                                        <span class="like-count">565</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="cover-container" style="display: none;" data-widget_cache_key="1560515131118">
                    <form class="cover-content">
                        <!---->
                        <div class="form-content"></div> <!---->
                        <div class="promise-option">
                            <div class="w_default_button promise-button" data-widget_cache_key="1560515131118">
                                <button type="button" class="default-button default-button">取消</button>
                            </div>
                            <div class="w_default_button promise-button" data-widget_cache_key="1560515131118_1">
                                <button type="submit" class="default-button normal-button">确定</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            @*<div>
                <a href="@Url.Action("NoteDetail", "YiChuShow", new {id=@note.NoteID})">
                    <img src="/Images/Noteimg/@note.Img" alt="Some image" />
                    <span>@note.likenum</span>
                </a>
            </div>*@
        }
    </div>
    <hr />
    <div id="uservideo" class="userhome tab_content">
        @foreach (var video in Model.userupvideo)
        {
            <div class="w_user_works_preview works-preview">
                <div class="works-item">
                    <a target="_blank" href="@Url.Action("VideoDetail", "YiChuShow", new {id=@video.VideoID})" class="works-image" style="background-image: url('../../Images/videoimg/@video.Image');">
                        <!---->
                        <!---->
                        <div class="cc_shadow"></div>
                        <!---->
                        <div class="image-count">
                            <span>17</span>
                            @*<span class="iconfont icon-group image-count-font"></span>*@
                        </div>
                    </a>
                    <div class="works-info">
                        <div class="works-time">20小时前</div>
                        <div class="works-title">容颜</div>
                        <div class="tag-list"></div>
                        <div class="works-count-info">
                            <div class="cc_info_left">
                                <div class="cc_left_tag">
                                    <span class="iconfont icon-view"></span>
                                    <span>131334</span>
                                    <span class="iconfont icon-discuss comment-font"></span>
                                    <span>50</span>
                                </div> <!---->
                            </div>
                            <div class="cc_info_right">
                                <div class="w_like_button like-count-info" data-widget_cache_key="1560515131118">
                                    <div class="like-button-wrapper light-color">
                                        <div class="iconfont icon-zan like-font"></div>
                                        <span class="like-count">565</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="cover-container" style="display: none;" data-widget_cache_key="1560515131118">
                    <form class="cover-content">
                        <!---->
                        <div class="form-content"></div> <!---->
                        <div class="promise-option">
                            <div class="w_default_button promise-button" data-widget_cache_key="1560515131118">
                                <button type="button" class="default-button default-button">取消</button>
                            </div>
                            <div class="w_default_button promise-button" data-widget_cache_key="1560515131118_1">
                                <button type="submit" class="default-button normal-button">确定</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            @*<div>
                <a href="@Url.Action("VideoDetail", "YiChuShow", new {id=@video.VideoID})">
                    <img src="/Images/Noteimg/@video.Image" alt="Some image" />
                    <span>@video.likenum</span>
                </a>
            </div>*@
        }
    </div>
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    $(".tab_content").hide();
    $("ul.tabs li:first").addClass("active").show();
    $(".tab_content:first").show();
    $("ul.tabs li").click(function() {
        $("ul.tabs li").removeClass("active");
        $(this).addClass("active");
        $(".tab_content").hide();
        var activeTab = $(this).find("a").attr("href");
        $(activeTab).fadeIn();
        return false;
    });
</script>




