@model 精致的衣橱.Models.YiChuShowViewModel
 

<style>
   
</style>
<div class="zong" style="background-image:url('/Images/HeadImages/@Model.Userabout.HeadImage')" >
    <div class="image">
    <a class="alink" href="@Url.Action("Userhome","YiChuShow",new {userid=@Model.Userabout.UserID })">
        <img src="/Images/HeadImages/@Model.Userabout.HeadImage">
    </a>
    </div>
    <div class="profile">
    <a href="#" class="username">@Model.Userabout.UserName</a>
    <div class="description">
        <div class="personal">
           <div class="meta">@Model.sex</div>
        </div>
    </div>
    <div class="pins">
        <span class="meta">@Model.fensnum 粉丝</span>
        <span class="meta">@Model.attentionnum 关注</span>
    </div>
    <div class="buttons">
        <a id="@Model.Userabout.UserID" >
        <span class="text"> </span>
        </a>
     </div>
    </div>
</div>

<script>
    $(function () {   //关注
        var active=true;
        var btn=$("#@Model.Userabout.UserID");
        btn.click(function(){
            if(btn.active){
                $("#@Model.Userabout.UserID").find("span").text("取消关注")
                //btn.find(span).text("取消关注")
                //执行加关，显示取关
                $.ajax({
                    type: "get",
                    url: "/YiChuShow/jiaguan",
                    data: { "guanzhuzheid": 1 ,"beiguanzhuid":@Model.Userabout.UserID},
                    success: function (data) {
                            alert(data)
                    },
                    async: true
                });
                btn.active=false
            } else {
                $("#@Model.Userabout.UserID").find("span").text("加关注")
                $.ajax({
                    type: "get",
                    url: "/YiChuShow/quguan",
                    data: { "guanzhuzheid": 1 ,"beiguanzhuid":@Model.Userabout.UserID},
                    success: function (data) {
                        alert(data)
                    },
                    async: true
                });
                btn.active=true
            }
        })
        $.ajax({
            type: "get",
            url: "/YiChuShow/ifattention",
            data: { "beiguanzhuid":@Model.Userabout.UserID},
            success: function (data) {
                if (data=="取消关注")
                {
                    $("#@Model.Userabout.UserID").attr('href','#');
                    $("#@Model.Userabout.UserID").parent().addClass("active")
                    $("#@Model.Userabout.UserID").find("span").text("取消关注")

                }
                else if(data=="进入个人中心")
                {
                    $("#@Model.Userabout.UserID").attr('href','@Url.Action("Userhome", "YiChuShow", new { userid = Session["User_id"] })');
                    $("#@Model.Userabout.UserID").find("span").text("进入个人中心")
                }
                else
                {
                    $("#@Model.Userabout.UserID").attr('href','#');
                    $("#@Model.Userabout.UserID").find("span").text("加关注");
                    
                }
            },
            async: true
        });
    });
</script>