@model 精致的衣橱.Models.YiChuShowViewModel
@foreach (var n in Model.allvideocommentbyid)
{
    <div class="comment" style="background-color: transparent;">
        <a title="发射米奇" class="img">
            <img src="/Images/HeadImages/@n.Users.HeadImage" />
        </a>
        <div class="meta">
            <a class="author">@n.Users.UserName</a>&nbsp;-&nbsp;<span data-ts="1560236832" class="ts-words"> @n.Time</span>说：
        </div>
        <div class="text">@n.Commentcotent</div>
        <div class="action-buttons">
            <a title="回复" class="reply-button" id="@n.VideoCommentID">回复</a>
            <a title="删除" class="delete">删除</a>
        </div>
        <div class="commentreply">
            @Html.Action("VideoCommentReply", new { commentid = @n.VideoCommentID })
        </div>
    </div>

}




      
