@model 精致的衣橱.Models.RegisterLogin
@{
    ViewBag.Title = "FindPassword";
}

<h2>FindPassword</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(m => m.TrueName) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.TextBoxFor(m => m.TrueName)<br />
        @Html.ValidationMessageFor(m => m.TrueName)
    </p>
    <p>
        @*@Html.LabelFor(m => m.Email)  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.TextBoxFor(m => m.Email)<br />
        @Html.ValidationMessageFor(m => m.Email)*@
        @Html.LabelFor(m => m.Tel)  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.TextBoxFor(m => m.Tel)<br />
        @Html.ValidationMessageFor(m => m.Tel)
    </p>
    <input type="submit" value="确定" />
}
