<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/cookie.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        .nav {
            height: 80px;
            width: 100%;
            background-color: azure;
            font-size: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="nav">衣橱后台</div>
    <div class="row">
        <div class="col-md-2">
            @*<div class="nav">衣橱后台</div>*@
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                        data-toggle="dropdown" style="height:55px;width:162px;background-color:aliceblue">
                    商城后台管理
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="@Url.Action("Index","Goods")">商品管理</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="@Url.Action("Index","Orders")">订单管理</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="@Url.Action("Index","GoodsComments")">商品评论管理</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="@Url.Action("Index","ComReplies")">商品评论回复管理</a>
                    </li>
                    @*<li role="presentation" class="divider"></li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
                    </li>*@
                </ul>
            </div>
        </div>

        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</body>
</html>
