@model IEnumerable<Models.Goods>
@{
    Layout = "~/Views/Shared/_LayoutRecommend.cshtml";

}
<style>
    ul{
        display:inline-block;
    }
    ul li{
        list-style:none;
    }
</style>


    @foreach (var item in Model)
    {

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <div class="col">
                    <div class="col-md-4 col-sm-4" style="display:inline-block">
                        <div class="panel panel-default text-center">
                            <div class="panel-panel-heading">
                                <a href="@Url.Action("GoodsDetails","Mall",new { id = @item.GoodsID })"><h1>@item.Name</h1></a>
                            </div>
                            <div class="panel-body" style="height:225px">
                                <a href="@Url.Action("GoodsDetails","Mall",new { id = @item.GoodsID })" data-toggle="tooltip" data-placement="bottom" title="@item.Type"><img src="~/Images/GoodsImages/@item.GoodsImage" style="width: 100%;height: 100%;" class="img-thumbnail"></a>
                            </div>

                            <div class="panel-footer">
                                <h3>$@item.Unitprice</h3>
                                <h4>per cloth</h4>
                                <a href="@Url.Action("GoodsDetails","Mall",new { id=@item.GoodsID})"><button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="立即购买" id="btn">立即购买</button></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    }
